<section class="contacts container" appRevealOnScroll>
    <div class="contacts__card">
        <div class="contacts__icon-wrap">
            <img
                src="assets/images/brain-logo.png"
                alt="Логотип"
                class="contacts__icon"
            />
        </div>

        <div class="contacts__content">
            <h2>Готов(а) начать подготовку к ЕГЭ уже сейчас?</h2>
            <p>
                Напиши мне в Telegram — отвечу на все вопросы и подберём
                удобное время для старта!
            </p>
        </div>

        <div class="contacts__right">
            <a
                class="button button--primary"
                href="https://t.me/AlinaAkishina"
                target="_blank"
                rel="noopener noreferrer"
            >
                Написать в Telegram
            </a>
            <a
                class="contacts__channel"
                href="https://t.me/alinamath_info"
                target="_blank"
                rel="noopener noreferrer"
            >
                @alinamath_info
            </a>
        </div>
    </div>
</section>
