<header class="header container" appRevealOnScroll>
    <div class="header__subjects">
        <span>математика | информатика</span>
    </div>
    <a
        class="header__handle"
        href="https://t.me/AlinaAkishina"
        target="_blank"
        rel="noopener noreferrer"
    >
        @AlinaAkishina
    </a>
    <a
        class="button button--primary"
        [href]="telegramUrl"
        target="_blank"
        rel="noopener noreferrer"
    >
        Написать в Telegram
    </a>
</header>
